*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

section {
    padding: 70px 60px;
}

/*NAV START*/

#main-nav {
    position: fixed;
    width: 100%;
    text-align: right;
    top: 0;
    z-index: 999;
    line-height: 30px;
    background-color: #fff;
}

#main-nav a {
    text-decoration: none;
    color: #1ac056;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-right: 70px;
    margin-left: 70px;
}

#main-nav > ul > li {
    list-style-type: none;
    display: inline-block;
}

#about:hover,
#skills:hover,
#portf:hover,
#contact:hover {
    color: #004d00;
}

/*NAV KONIEC*/

/*HEADER START*/

header {
    background-image: url("../img/header-background.jpg");
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
}

header > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

header > div > h1 {
    font-size: 70px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

span {
    color: #1ac056;
    font-weight: 400;
}

header > div > h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

/*HEADER END*/

/*O MNIE START*/

#omnie {
    background-color: #f9fcfe;
    -webkit-box-shadow: 0px 10px 5px 1px rgba(230, 225, 230, 1);
    -moz-box-shadow: 0px 10px 5px 1px rgba(230, 225, 230, 1);
    box-shadow: 0px 10px 5px 1px rgba(230, 225, 230, 1);
}

#omnie > h2,
#umiejetnosci > h2,
#mojeportfolio > h2 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-top: 0;
}

#omnie > figure {
    width: 50%;
    display: inline-block;
    float: left;
    margin: 0;
    text-align: center;
}

#omnie > figure > img {
    width: 50%;
    border: 15px solid #fff;
}

#oMnieTekst {
    display: inline-block;
    width: 50%;
    float: right;
}

#oMnieTekst > p {
    margin: 0;
}

.clear {
    clear: both;
}

/*O MNIE END*/

/*UMIEJETNOSCI START*/

#umiejetnoscitekst > p {
    text-align: center;
}

#ikony {
    text-align: center;
}

#ikony > figure {
    display: inline-block;

}

#ikony > figure > figcaption {
    margin: 20px;
}

/*UMIEJETNOSCI END*/

/*PORTFOLIO START*/

#portfolio1 {
    background-image: url("../img/portfolio1.jpg");
}

#portfolio2 {
    background-image: url("../img/portfolio2.jpg");
}

#portfolio3 {
    background-image: url("../img/portfolio4.jpg");
}

#portfolio1,
#portfolio2,
#portfolio3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    display: inline-block;
    width: 33%;
    float: left;
    margin-bottom: 60px;
}

.mask {
    height: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    opacity: 0;
    position: relative;
}

.mask:hover {
    opacity: 1;
    transition: opacity 1s;
}

#ramka {
    height: 100%;
    border: 1px solid #fff;
    box-sizing: border-box;
}

div h3 {
    color: #fff;
    font-size: 25px;
}

#tresc1,
#tresc2,
#tresc3 {
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#tresc1 .fa:hover,
#tresc2 .fa:hover,
#tresc3 .fa:hover {
    transition: color 0.3s;
    color: lime;
}

#mojeportfolio p {
    text-align: center;
    color: white;
    font-size: 18px;
}

.clear {
    clear: both;
}

/*PORFTOLIO END*/

/*KONTAKT START*/

#kontakt {
    background-color: #213b50;

}

#adres {
    width: 50%;
    float: left;
    font-style: normal;
}

#kontakt h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

#kontakt address {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    margin-top: 80px;
    letter-spacing: 2px;

}

#kontakt address a {
    color: #1ac056;
}

#kontakt address a:hover {
    color: #ccc;
}

.social-media a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #213b50;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;

}

.social-media a .fa {
    line-height: 50px;
}

.fa {
    color: white;
}

#fb:hover {
    background-color: #3b5998;
}

#gp:hover {
    background-color: #d34836;
}

#tw:hover {
    background-color: #00aced;
}

#in:hover {
    background-color: #4875B4;
}

.formularz {
    padding: 60px 60px;

}

form {
    float: right;
    width: 50%;
}

.clear {
    clear: both;
}

.wpis,
.wiadomosc,
.button {
    display: block;
    margin-top: 20px;
    border: none;
}

.wpis,
.wiadomosc {
    background-color: #08081f;
    color: #fff;
    width: 100%;
    padding: 20px;
}

#wiad {
    height: 80px;
}

.button {
    padding: 15px 50px;
    border: 1px solid #fff;
    background-color: limegreen;
    color: white;
    font-weight: 900;
    font-size: 20px;
    float: right;
}

.button:hover {

    transition: background-color 0.5s;
    background-color: #057705;
}

/*KONTAKT END*/

/*FOOTER START*/

footer {
    background-color: #08081f;
    color: #fff;
    margin: 0;
    padding: 5px 60px;
}

/*FOOTER END*/


#menu,
.toggle{
    display: none;
}
}